footer {
  height: 15rem;
  padding: 2.5rem;
  background-color: #402a67;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social {
  width: 15%;
  display: flex;
  justify-content: space-between;

  .social-icons {
    font-size: 3rem;
    color: white;

    &:hover {
      color: #ef4d8d;
    }
  }
}

.copyright {
  margin-top: 1.8rem;
}
.copyright p {
  font-size: 1.5rem;
  color: white;
}

.email-adress {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-adress p {
  font-size: 1.5rem;
  color: white;
}
.email-icons {
  font-size: 1.5;
}

@media screen and (min-width: 320px) {
  .social {
    width: 50%;
  }
}
@media screen and (min-width: 350px) {
  .social {
    width: 40%;
  }
}
@media screen and (min-width: 470px) {
  .social {
    width: 40%;
  }
}
@media screen and (min-width: 700px) {
  .social {
    width: 40%;
  }
}
@media screen and (min-width: 950px) {
  .social {
    width: 12%;
  }
}
