header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-brand .fa__icons {
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer;
  // width: 2rem;
}

.menu-icons .fa__icons {
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer;
}
.close .fa__icons {
  color: white;
  cursor: pointer;
  font-size: 5rem;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  // background-color: #d7d4ed;
  background: linear-gradient(to bottom, #a357d3, #f57978, #ef4d8d);
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: all 0.25s;
}

.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

//media queries

@media screen and (min-width: 700px) {
  header {
    height: 8rem;
  }

  .nav-brand {
    width: 3.5rem;
  }

  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    background: none;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }

  .menu-icons .fa__icons {
    display: none;
  }
  .nav-item {
    margin: 0 2.5rem;
  }

  .nav-link,
  .current {
    position: relative;
    font-size: 1.4rem;
  }

  .nav-link::before,
  current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #ef4d8d;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms;
  }

  .current::before {
    transform: scaleX(1);
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }
}
