.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      135deg,
      rgba(59, 38, 103, 0.9) 10%,
      rgba(188, 120, 236, 0.8) 100%
    ),
    url("/images/motivation.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url("/images/wave-small.png") center no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);

  h3 {
    font-size: 1.6rem;
  }
  h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    text-transform: lowercase;
  }
}

//btn styles

.btn {
  padding: 10px 20px;
  border: 1px solid #ff4081;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
  color: #fafafa;
  margin-top: 2rem;
}
.btn:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff4081;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  z-index: 0;
  opacity: 0;
}
.btn span {
  position: relative;
  z-index: 5;
  font-size: 1.2rem;
}
.btn:hover {
  color: #fff;
}
.btn:hover:before {
  -webkit-transform: scaleX(200);
  -ms-transform: scaleX(200);
  transform: scaleX(200);
  opacity: 1;
}

//btn styles

// media queries

@media screen and (min-width: 350px) {
  .main-message {
    transform: translateY(40%);
  }
}
@media screen and (min-width: 470px) {
  .hero::before {
    height: 9.4rem;
    background: url("/images/wave-medium.png");
    background-size: cover;
  }

  .main-message h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    height: 60vh;
  }

  .main-message {
    transform: translateY(50%);

    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 950px) {
  .hero::before {
    height: 22.7rem;
    background: url("/images/wave-large.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
}
