.work-experience {
  padding: 0;
}

.title-heading {
  text-align: center;
  margin-bottom: 7rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);

  h3 {
    font-size: 1.4rem;
  }
  h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
  }

  p {
    text-transform: none;
    margin-top: 2rem;
  }
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.activities-grid-item {
  height: 45rem;
  padding: 2rem 5rem 0 5rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
 // z-index: 1;
}
.activities-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, #fcac5f, #f57978, #ef4d8d);
  background: linear-gradient(to bottom, #a357d3, #f57978, #ef4d8d);
  z-index: -1;
  border-radius: 5px;
}

.activities-grid-item {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    margin-top: 0.5rem;
  }
  p {
    text-align: center;
    margin-top: 0.5rem;
  }
}

.btn {
  padding: 10px 20px;
  border: 1.5px solid white;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
  color: #fafafa;
  margin-top: 2rem;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff4081;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  z-index: 0;
  opacity: 0;
}
.btn span {
  position: relative;
  z-index: 5;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.btn:hover {
  color: #fff;
  border: 1.5px solid #ff4081;
}
.btn:hover::before {
  -webkit-transform: scaleX(200);
  -ms-transform: scaleX(200);
  transform: scaleX(200);
  opacity: 1;
}

//icons

.bottom-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  //   display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.1rem;
  width: 100%;

  .btn__common {
    display: flex;
    height: 6rem;
    background: #faf8f9;
    align-items: center;
    justify-content: center;
  }

  .btn-github {
    border-bottom: 2px solid #ef508b;
    border-bottom-left-radius: 5px;
    .fa__icons {
      font-size: 3.5rem;
      color: #ef508b;
      cursor: pointer;

      &:hover {
        color: #a357d3;
      }
    }
  }
  .btn-info {
    border-bottom: 2px solid #55adee;
    border-bottom-right-radius: 5px;
    .fa__icons {
      font-size: 3.5rem;
      color: #55adee;
      cursor: pointer;

      &:hover {
        color: #a357d3;
      }
    }
  }
}

.technologies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-size: 1.5rem;
  }
}

.hr__line {
  width: 100%;
  border: 1px solid white;
  margin: 9px 0 3px 0;
}

.title-heading span {
  font-size: 2.2rem;
  position: relative;
  font-weight: bold;
}

.border-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: #ef4d8d;
  width: 100%;
  height: 2px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 500ms;
}
