//sample snippet for card
// .shadow-1 {
//     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
// }
// .blue-hover {
//     transition: all 0.25s ease-in;
//     border-bottom: 5px solid transparent;
// }
// .blue-hover:hover {
//     transform: translateY(-5px);
//     mar
//     border: none;
//     border-bottom: 5px solid #2196fe;
// }

//sample snippet for card

.work-experience {
  padding: 0;
}

.title-heading {
  text-align: center;
  margin-bottom: 10rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);

  h3 {
    font-size: 1.4rem;
  }
  h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
  }

  p {
    text-transform: lowercase;
  }
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.activities-grid-item {
  height: 45rem;
  padding: 5rem;
  color: beige;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.activities-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, #fcac5f, #f57978, #ef4d8d);
  background: linear-gradient(to bottom, #a357d3, #f57978, #ef4d8d);
  z-index: -1;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #ff4081;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
  color: #fafafa;
  margin-top: 2rem;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff4081;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  z-index: 0;
  opacity: 0;
}
.btn span {
  position: relative;
  z-index: 5;
  font-size: 1.2rem;
}
.btn:hover {
  color: #fff;
}
.btn:hover::before {
  -webkit-transform: scaleX(200);
  -ms-transform: scaleX(200);
  transform: scaleX(200);
  opacity: 1;
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  //   display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.1rem;
  width: 100%;

  .btn__common {
    height: 6rem;
    background: #faf8f9;
  }

  .btn-github {
    border-bottom: 2px solid #ef508b;
  }
  .btn-info {
    border-bottom: 2px solid #55adee;
  }
}
